!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

	<script language="JavaScript">
		<!--
		function calculateBmi() {
		var weight = document.bmi.weight.value
		var height = document.bmi.height.value
		if(weight > 0 && height > 0){	
		var finalBmi = weight/(height/100*height/100)
		document.bmi.bmi.value = finalBmi
		if(finalBmi < 18.5){
		document.bmi.meaning.value = "That you are too thin."
		}
		if(finalBmi > 18.5 && finalBmi < 25){
		document.bmi.meaning.value = "That you are healthy."
		}
		if(finalBmi > 25){
		document.bmi.meaning.value = "That you have overweight."
		}
		}
		else{
		alert("Please Fill in everything correctly")
		}
		}
		//-->
		</script>

  </head>
  <body ng-app="7Day">

	<ion-nav-view>
    </ion-nav-view>


    <ion-pane>
    <div class="bar bar-header bar-calm">
		<button class="button icon-left ion-home"ui-sref="state1">
		Home </button>
        <h1 class="title">7 Day Health </h1>
    </div>
      <ion-content>
	  <br>
	  <br>
	  <br>
	  <div class="list">
	  <div id = "bmi">
		<label class="item item-input item-stacked-label">
			<span id="weight"> Weight </span>
			<input type="text"name="weight" size="10">
		</label>
		
		<label class="item item-input item-stacked-label">
			<span id = "height">Height</span>
			<input type="text"name="height" size="10" >
		</label>
		 <div>
		 <a class = "button button-full button-balanced" onclick = "calculateBmi()">
		 Calculate
		 </a>
		 </div>
		 </div>
		 <div class ="result">
		 <label class="item item-input item-stacked-label">
			<span class="input-label">BMI</span>
			<input type="text"name="bmi" size="10">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">This Means</span>
			<input type="text"name="meaning" size="10">
		</label>
		<div>
		<a class = "button button-full button-balanced" onclick="reset">
		Reset
		</a>
		</div>
		</div>
	
		</div>
     </ion-content>
	 <br>
	 <br>
    <div class="bar bar-footer bar-stable">
        <div class="title">@Clare Reville</div>
    </div>
    </ion-pane>
	
	
	
	
  </body>
</html>

