<!DOCTYPE html>
<!-- Daily calorie calculator enables the user to enter calorie amounts for
	breakfast lunch dinner and snacks and calculate the total -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js-->
    <script src = "js/app.js">
	</script>
	
  </head>
	<!-- angular-->
	<body ng-app="counter" ng-controller="CountCtrl">

	
    <ion-pane>
    <!--header contains title, home button and back buttin -->
	<div class="bar bar-header bar-calm">
		<button class="button icon-left ion-home"ui-sref="state1">
			Home </button>
			<h1 class="title">Daily Calories</h1>
		<!-- link to the menu page -->
		<a class="button icon-left ion-chevron-left button-clear button-light"ui-sref="state2">Back</a>
    </div>
      <ion-content>
	  <br>
	  <br>
	  <br>
	  <!-- list of options for user input-->
	  <div class="list">
			<a class="item item-thumbnail-left" href="#">
				<!--thumbnail image -->
				<img src="images/breakfast.jpg">
				<!-- info-->
				<p>Enter Calories for Breakfast</p>
				<!--input section for user -->
				<label class="item item-input">
					<input type="number" ng-model="countbreakfast" />
				</label>
			</a>
		<br>
			<a class="item item-thumbnail-left" href="#">
				<!--thumbnail image -->
				<img src="images/lunch.jpg">
				<!--info -->
				<p>Enter Calories for Lunch</p>
				<!--input section for user -->
				<label class="item item-input">
					<input type="number" ng-model="countlunch" />
				</label>
			</a>
		<br>
			<a class="item item-thumbnail-left" href="#">
				<!--thumbnail image -->
				<img src="images/dinner.jpg">
				<!--info -->
				<p>Enter Calories for Dinner</p>
				<!-- section for user input-->
				<label class="item item-input">
					<input type="number" ng-model="countdinner" />
				</label>
			</a>
		<br>
			<a class="item item-thumbnail-left" href="#">
				<!--thumbnail image -->
				<img src="images/snacks.jpg">
				<!--info -->
				<p>Enter Calories for Snacks</p>
				<!-- section for user input-->
				<label class="item item-input">
					<input type="number" ng-model="countsnacks" />
				</label>
			</a>
		<br>
		<!--button when pressed will sum the imputed numbers from the user -->
	    <button class="button button-block button-calm button-clear button-outline" ng-click="count = (countbreakfast + countlunch + countdinner +countsnacks)">
            Calculate
        </button> 
			<br>
			<a class="item item-thumbnail-left" href="#">
				<!--thumbnail image -->
				<img src="images/calculator.png">
				<!-- info-->
				<p> Todays Calories</p>
				<!--output for calculator -->
				<label class="item item-input">
					<input type="number" ng-model="count"/>
				</label>
			</a>
	  
	  </div>
	  <br>
	  <br>	
	  <br>
      </ion-content>
	  <!--footer -->
		<div class="bar bar-footer bar-stable">
			<div class="title">© Dept of Health</div>
		</div>
    </ion-pane>
	
  </body>
</html>