<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js-->
    <script src="js/app.js"></script> 
	
  </head>
 
  <body ng-app="counter" ng-controller="CountCtrl">

	
    <ion-pane>
    <div class="bar bar-header bar-calm">
		<button class="button icon-left ion-home"ui-sref="state1">
		Home </button>
        <h1 class="title">Daily Calories</h1>
		<a class="button icon-left ion-chevron-left button-clear button-light"ui-sref="state2">Back</a>
    </div>
      <ion-content>
	  <br>
	  <br>
	  <br>
	  
	  <div class="list">
			<a class="item item-thumbnail-left" href="#">
			<img src="images/breakfast.jpg">
			<p>Enter Calories for Breakfast</p>
			<label class="item item-input">
			<input type="number" ng-model="countbreakfast" />
			</label>
			</a>
		<br>
			<a class="item item-thumbnail-left" href="#">
			<img src="images/lunch.jpg">
			<p>Enter Calories for Lunch</p>
			<label class="item item-input">
			<input type="number" ng-model="countlunch" />
			</label>
			</a>
		<br>
			<a class="item item-thumbnail-left" href="#">
			<img src="images/dinner.jpg">
			<p>Enter Calories for Dinner</p>
			<label class="item item-input">
			<input type="number" ng-model="countdinner" />
			</label>
			</a>
		<br>
			<a class="item item-thumbnail-left" href="#">
			<img src="images/snacks.jpg">
			<p>Enter Calories for Snacks</p>
			<label class="item item-input">
			<input type="number" ng-model="countsnacks" />
			</label>
			</a>
		<br>
	  
	    <button class="button button-block button-calm button-clear button-outline" ng-click="count = countbreakfast + countlunch + countdinner +countsnacks">
            Calculate
        </button> 
			<br>
			<a class="item item-thumbnail-left" href="#">
			<img src="images/calculator.png">
			<p> Todays Calories</p>
			<label class="item item-input">
			<input type="number" ng-model="count" />
			</label>
			</a>
	  
	  </div>
	  <br>
	  <br>	
	  <br>
      </ion-content>
    <div class="bar bar-footer bar-stable">
        <div class="title">© Clare Reville</div>
    </div>
    </ion-pane>
	
  </body>
</html>