<!DOCTYPE html>
<!-- list of exercise tips for users-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="7Day">

	<ion-nav-view>
    </ion-nav-view>

    <ion-pane>
	<!-- header contains title, home button and back button-->
    <div class="bar bar-header bar-calm">
		<button class="button icon-left ion-home"ui-sref="state1">Home </button>
		<h1 class="title"> Eating Tips </h1>
		<!--brings user back to menu -->
		<a class="button icon-left ion-chevron-left button-clear button-light"ui-sref="state2">Back</a>
    </div>
      <ion-content>
	  <br>
	  <br>
	<!-- list of cards -->
	<div class="card">
		<!-- card contains divider, thumbnail image & 
		a brief paragraph-->
			 <div class="item item-divider" >
				Base your meals on starchy foods 
			</div>
		<div class="item item-text-wrap item-thumbnail-left" href="#">
			<img src="images/starch.jpg">
			<p> Starchy foods should make up around one third of the foods you eat. Starchy foods include potatoes, cereals, pasta, rice and bread.
			Choose wholegrain varieties (or eat potatoes with their skins on) when you can: they contain more fibre, and can help you feel full. </p>
		</div>
		<!-- card contains divider, thumbnail image & 
		a brief paragraph-->
		<div class="item item-divider">
			Eat lots of fruit and veg 
		</div>
		<div class="item item-text-wrap item-thumbnail-right" href="#">
			<img src="images/veg.jpg">
			<p>It’s recommended that we eat at least five portions of different types of fruit and veg a day. It’s easier than it sounds. 
			A glass of unsweetened 100% fruit juice (150ml) can count as one portion, and vegetables cooked into dishes also count.
			Why not chop a banana over your breakfast cereal, or swap your usual mid-morning snack for a piece of fresh fruit?  </p>
		</div>
		<!-- card contains divider, thumbnail image & 
		a brief paragraph-->
		<div class="item item-divider">
			Eat more fish
		</div>
			<div class="item item-text-wrap item-thumbnail-left" href="#">
			<img src="images/fish.jpg">
			<p>Fish is a good source of protein and contains many vitamins and minerals. Aim to eat at least two portions of fish a week, 
			including at least one portion of oily fish. Oily fish contains omega-3 fats, which may help to prevent heart disease. 
			You can choose from fresh, frozen and canned: but remember that canned and smoked fish can be high in salt.Oily fish include salmon,
			mackerel, trout, herring, fresh tuna, sardines and pilchards. Non-oily fish include haddock, plaice, coley, cod, tinned tuna, 
			skate and hake. If you regularly eat a lot of fish, try to choose as wide a variety as possible.  </p>
		</div>
		<!-- card contains divider, thumbnail image & 
		a brief paragraph-->
		<div class="item item-divider">
			Cut down on saturated fat and sugar
		</div>
		<div class="item item-text-wrap item-thumbnail-right" href="#">
			<img src="images/fat.jpg">
			<p>We all need some fat in our diet. But it’s important to pay attention to the amount and type of fat we’re eating. 
			There are two main types of fat: saturated and unsaturated. 
			</p>
			<p>Most people eat and drink too much sugar. Sugary foods and drinks, including alcoholic drinks, are often high in energy 
			(measured in kilojoules or calories), and if eaten too often, can contribute to weight gain. They can also cause tooth decay, especially 
			if eaten between meals. </p>
		</div>
		<!-- card contains divider, thumbnail image & 
		a brief paragraph-->
		<div class="item item-divider">
			Eat less salt
		</div>
		<div class="item item-text-wrap item-thumbnail-left" href="#">
			<img src="images/salt.jpg">
			<p> Even if you don’t add salt to your food, you may still be eating too much. About three-quarters of the salt we eat is already in the food we buy,
			such as breakfast cereals, soups, breads and sauces. Eating too much salt can raise your blood pressure.</p>
		</div>
		<!-- card contains divider, thumbnail image & 
		a brief paragraph-->
		<div class="item item-divider">
			Get active and be a healthy weight
		</div>
		<div class="item item-text-wrap item-thumbnail-right" href="#">
			<img src="images/active.jpg">
			<p>Eating a healthy, balanced diet plays an essential role in maintaining a healthy weight, which is an important part of overall good health. Being overweight 
			or obese can lead to health conditions such as type 2 diabetes, certain cancers, heart disease and stroke. Being underweight could also affect your health. </p>
		</div>
		<!-- card contains divider, thumbnail image & 
		a brief paragraph-->
		<div class="item item-divider">
			Don't get thirsty
		</div>
		<div class="item item-text-wrap item-thumbnail-left" href="#">
			<img src="images/thirsty.jpg">
			<p>We need to drink about 1.6 to 2 litres of fluid every day to stop us getting dehydrated. This is in addition to the fluid we get from the food 
			we eat. All non-alcoholic drinks count, but water and lower-fat milk are healthier choices. Try to avoid sugary soft and fizzy drinks that are 
			high in added sugars and calories, and are also bad for teeth. </p>
		</div>
		<!-- card contains divider, thumbnail image & 
		a brief paragraph-->
		<div class="item item-divider">
			Don’t skip breakfast
		</div>
			<div class="item item-text-wrap item-thumbnail-right" href="#">
			<img src="images/brek.jpg">
			<p> Some people skip breakfast because they think it will help them lose weight. In fact, research shows that eating breakfast can help people control their weight. 
			A healthy breakfast is an important part of a balanced diet, and provides some of the vitamins and minerals we need for good health.</p>
		</div>
	</div>
		<br>
		<br>
		
      </ion-content>
	  <!--footer -->
		<div class="bar bar-footer bar-stable">
			<div class="title">© Dept of Health</div>
		</div>
    </ion-pane>
	
  </body>
</html>