<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
	<style type="text/css">
	table.tableizer-table {
	border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #ccc;
	}
	.tableizer-table th {
		padding: 6px;
		margin: 3px;
		border: 1px solid #ccc;
		background-color: #6CE843; 
		color: #FFF;
		font-weight: bold
		font-size: 14px;
		rowspan:3;
		
	}
	</style>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="7Day">

	<ion-nav-view>
    </ion-nav-view>

    <ion-pane>
    <div class="bar bar-header bar-calm">
		<button class="button icon-left ion-home"ui-sref="state1">
		Home </button>
        <h1 class="title">Health Calculator </h1>
		<a class="button icon-left ion-chevron-left button-clear button-light"ui-sref="state2">Back</a>
    </div>
      <ion-content>
	  <br>
	  <br>
		<div class = "list" align = "center">
	  
		<table class="tableizer-table">
		
			<tr class="tableizer-firstrow"><th>Dairy</th><th>&nbsp;</th><th>&nbsp;</th></tr>
			 <tr><td>Calories</td><td>Quantity</td><td>Type</td></tr>
			 <tr><td>150</td><td>1 cup</td><td>Full-fat milk </td></tr>
			 <tr><td>102</td><td>1 cup</td><td>Low fat milk (1%)</td></tr>
			<tr class="tableizer-firstrow"><th>Drinks</th><th>&nbsp;</th><th>&nbsp;</th></tr>
			 <tr><td>Calories</td><td>Quantity</td><td>Type</td></tr>
			 <tr><td>60</td><td>Half a cup</td><td>Apple juice</td></tr>
			 <tr><td>90</td><td>240 ml cup</td><td>Seven Up</td></tr>
			 <tr><td>96</td><td>240 ml cup</td><td>Sprite</td></tr>
			 <tr><td>119</td><td>240 ml cup</td><td>Fanta</td></tr>
			 <tr><td>97</td><td>240 ml cup</td><td>Coca-Cola</td></tr>
			<tr class="tableizer-firstrow"><th>Meats</th><th>&nbsp;</th><th>&nbsp;</th></tr>
			 <tr><td>Calories</td><td>Quantity</td><td>Type</td></tr>
			 <tr><td>57</td><td>28 g</td><td>Turkey</td></tr>
			 <tr><td>88</td><td>28 g </td><td>Beef</td></tr>
			 <tr><td>102</td><td>42 g</td><td>Turkey</td></tr>
			 <tr><td>116</td><td>42 g</td><td>Chicken meat</td></tr>
			<tr class="tableizer-firstrow"><th>Eggs</th><th>&nbsp;</th><th>&nbsp;</th></tr>
			 <tr><td>Calories</td><td>Quantity</td><td>Type</td></tr>
			 <tr><td>17</td><td>One, big</td><td>Egg whites, (fresh or iced)</td></tr>
			<tr class="tableizer-firstrow"><th>Oils/Fats</th><th>&nbsp;</th><th>&nbsp;</th></tr>
			 <tr><td>Calories</td><td>Quantity</td><td>Type</td></tr>
			 <tr><td>105</td><td>1 Tablespoon</td><td>Margarine</td></tr>
			 <tr><td>120</td><td>1 Tablespoon</td><td>Olive oil</td></tr>
			 <tr><td>36</td><td>1 Tablespoon</td><td>Butter</td></tr>
			<tr class="tableizer-firstrow"><th>Fresh Fruit</th><th>&nbsp;</th><th>&nbsp;</th></tr>
			 <tr><td>Calories</td><td>Quantity</td><td>Type</td></tr>
			 <tr><td>81</td><td>Medium, 140 g</td><td>Apples</td></tr>
			 <tr><td>17</td><td>Medium, 30 g</td><td>Apricot</td></tr>
			 <tr><td>105</td><td>Medium, 100 g</td><td>Banana</td></tr>
			 <tr><td>53</td><td>Half a cup</td><td>Grapes</td></tr>
			 <tr><td>45</td><td>One, 85 g</td><td>Guava</td></tr>
			 <tr><td>46</td><td>One, 76 g</td><td>Kiwi</td></tr>
			 <tr><td>68</td><td>Half, 85 g</td><td>Mango</td></tr>
			 <tr><td>62</td><td>One, 110 g</td><td>Orange</td></tr>
			 <tr><td>117</td><td>Medium</td><td>Papaya</td></tr>
			 <tr><td>37</td><td>One, 85 g</td><td>Peach</td></tr>
			 <tr><td>98</td><td>Medium, 170 g</td><td>Pear</td></tr>
			 <tr><td>42</td><td>Slice, 82 g</td><td>Pineapple</td></tr>
			 <tr><td>36</td><td>One, 60 g</td><td>Plum</td></tr>
			 <tr><td>110</td><td>Medium, 150 g</td><td>Pomegranate</td></tr>
			 <tr><td>67</td><td>Medium, 142 g</td><td>Nectarine </td></tr>
			 <tr><td>26</td><td>Piece, 100 g</td><td>Watermelon</td></tr>
			 <tr><td>33</td><td>Piece, 100 g </td><td>Melon</td></tr>
			 <tr><td>23</td><td>Half a cup</td><td>Strawberries</td></tr>
			<tr class="tableizer-firstrow"><th>Vegetables</th><th>&nbsp;</th><th>&nbsp;</th></tr>
			 <tr><td>Calories</td><td>Quantity</td><td>Type</td></tr>
			 <tr><td>31</td><td>Medium, 60 g</td><td>Carrot</td></tr>
			 <tr><td>35</td><td>Half a cup</td><td>Carrot, cooked</td></tr>
			 <tr><td>15</td><td>Half a cup</td><td>Cauliflower, cooked</td></tr>
			 <tr><td>12</td><td>Half a cup</td><td>Cauliflower, uncooked</td></tr>
			 <tr><td>7</td><td>Half a cup</td><td>Cucumbers, chopped</td></tr>
			 <tr><td>100</td><td>Half a cup</td><td>Fried eggplant</td></tr>
			 <tr><td>13</td><td>Half a cup</td><td>Eggplant, cooked</td></tr>
			 <tr><td>20</td><td>Half a cup</td><td>Green beans, cooked</td></tr>
			 <tr><td>16</td><td>Half a cup</td><td>Cabbage, cooked</td></tr>
			 <tr><td>10</td><td>Half a cup</td><td>Celery</td></tr>
			 <tr><td>77</td><td>One, medium</td><td>Corn</td></tr>
			 <tr><td>9</td><td>Half a cup</td><td>Mushrooms, fresh</td></tr>
			 <tr><td>4</td><td>Half a cup</td><td>Lettuce</td></tr>
			 <tr><td>6</td><td>Half a cup</td><td>Chopped spinach</td></tr>
			 <tr><td>18</td><td>Half a cup</td><td>Zucchini, chopped and cooked</td></tr>
			 <tr><td>111</td><td>Half a cup</td><td>Sweet potatoes, mashed</td></tr>
			 <tr><td>26</td><td>One, medium</td><td>Red tomatoes</td></tr>
			 <tr><td>73</td><td>One cup</td><td>Green beans</td></tr>
			<tr class="tableizer-firstrow"><th>Grains</th><th>&nbsp;</th><th>&nbsp;</th></tr>
			 <tr><td>Calories</td><td>Quantity</td><td>Type</td></tr>
			 <tr><td>17</td><td>100 g</td><td>Bread, cereals</td></tr>
			 <tr><td>130</td><td>One, 50 g</td><td>Whole wheat bread</td></tr>
			 <tr><td>190</td><td>Small, 130 g</td><td>Pasta with sauce</td></tr>
			 <tr><td>95</td><td>Cup, 25 g</td><td>Corn flakes</td></tr>
			 <tr><td>333</td><td>Quarter of a loaf, 115 g</td><td>French bread</td></tr>
			 <tr><td>178</td><td>4 pieces, 55 g</td><td>Plain biscuits</td></tr>
			 <tr><td>131</td><td>Half a cup</td><td>White rice, cooked (long grain)</td></tr>
			 <tr><td>61</td><td>A slice</td><td>Brown toast</td></tr>
			<tr class="tableizer-firstrow"><th>Fish</th><th>&nbsp;</th><th>&nbsp;</th></tr>
			<tr><td>Calories</td><td>Quantity</td><td>Type</td></tr>
			 <tr><td>169</td><td>85 g</td><td>Tuna, canned in oil</td></tr>
			 <tr><td>99</td><td>85 g</td><td>Smoked salmon</td></tr>
			 <tr><td>136</td><td>85 g</td><td>Grilled Fish</td></tr>
			</table>

		</div>
		<br>
		<br>
      </ion-content>
    <div class="bar bar-footer bar-stable">
        <div class="title">© Clare Reville</div>
    </div>
    </ion-pane>
	
  </body>
</html>