<!DOCTYPE html>
<!-- This page will enable the user whether male or female to calculate 
	their calories based on gender  -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body>
  
    <ion-pane> 
	<!--header contains title home button and back button -->
    <div class="bar bar-header bar-calm">
		<button class="button icon-left ion-home"ui-sref="state1">
			Home </button>
		<h1 class="title"> BMI </h1>
		<!-- link to state 2 ie:menu -->
		<a class="button icon-left ion-chevron-left button-clear button-light"ui-sref="state2">Back</a>
    </div>
    <ion-content>
	  <br>
	  <br>
	<!-- 1st card male BMI -->
	<div class="list card">
		<div class="item item-divider">
			Male BMI Calculator
		</div>
	
		<div class="item item-image">
			<!--thumbnail image -->
			<img src="images/menbmi.jpg">
		</div>
		<!--button brings you to the calculator for men -->
		<button class="button button-clear button-block button-positive" ui-sref="state11">
			Calculator
        </button>  
	</div>
		<br>
	<!--2nd card female BMI-->
	<div class="list card">	
		<div class="item item-divider">
			Female BMI Calculator
		</div>
		<div class="item item-image">
			<!--thumbnail image-->
			<img src="images/womenbmi.jpg">
		</div>
		<!--button brings you to the calculator for women -->
		<button class="button button-clear button-block button-positive " ui-sref="state10">
			Calculator
        </button>  
		<br>
	</div>
	  <br>
	  <br>
     </ion-content>
	 <!--footer -->
     <div class="bar bar-footer bar-stable">
        <div class="title">© Dept of Health</div>
    </div>
    </ion-pane
  </body>
</html>
