<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="7Day">

	<ion-nav-view>
    </ion-nav-view>


    <ion-pane>
    <div class="bar bar-header bar-calm">
		<button class="button icon-left ion-home"ui-sref="state1">
		Home </button>
        <h1 class="title">Health Calculator </h1>
		<a class="button icon-left ion-chevron-left button-clear button-light"ui-sref="state2">Back</a>
    </div>
      <ion-content>
	  <br>
	  <br>
		<div class="card">
		<div class="item item-divider" >
			Be a good role model 
		</div>
		<div class="item item-text-wrap">
		<p>You don’t have to be perfect all the time, but if kids see you trying to eat right and getting physically active, they’ll take notice of your efforts. 
		You’ll send a message that good health is impor­tant to your family. </p>
		</div>
		<div class="item item-divider" >
			Keep things positive	
		</div>
		<div class="item item-text-wrap">
		<p>Kid’s don’t like to hear what they can’t do, tell them what they can do instead. Keep it fun and positive. Everyone likes to be praised for a job well done. Celebrate 
		successes and help children and teens develop a good self-image </p>
		</div>
		<div class="item item-divider" >
			Get the whole family moving 
		</div>
		<div class="item item-text-wrap">
		<p>Plan times for everyone to get moving together. Take walks, ride bikes, go swimming, garden or just play hide-and-seek outside. 
		Everyone will benefit from the exercise and the time together. </p>
		</div>
		<div class="item item-divider" >
			Be realistic
		</div>
		<div class="item item-text-wrap">
		<p>Setting realistic goals and limits are key to adopting any new behavior. Small steps and gradual changes can make a big difference 
		in your health over time, so start small and build up. </p>
		</div>
		<div class="item item-divider" > 
			Limit TV, video game and computer time
		</div>
		<div class="item item-text-wrap">
		<p>  These habits lead to a sedentary lifestyle and excessive snacking, which increase risks for obesity and cardiovascular disease. 
		Limit screen time to 2 hours per day.</p>
		</div>
		<div class="item item-divider" >
			Encourage physical activities that they’ll really enjoy 
		</div>
		<div class="item item-text-wrap">
		<p> Every child is unique. Let your child experiment with different activities until they find something that they really love doing. They’ll stick 
		with it longer if they love it. check out these activities for kids.</p>
		</div>
		<div class="item item-divider" >
			Pick truly rewarding rewards
		</div>
		<div class="item item-text-wrap">
		<p> Don’t reward children with tv, video games, candy or snacks for a job well done. 
		Find other ways to celebrate good behaviour.</p>
		</div>
		<div class="item item-divider" >
			Make dinnertime a family time 
		</div>
		<div class="item item-text-wrap">
		<p> When everyone sits down together to eat, there’s less chance of children eating the wrong foods or snacking too much. Get your kids involved in cooking and planning meals. Everyone develops good eating habits 
		together and the quality time with the family will be an added bonus</p>
		</div>
		<div class="item item-divider" >
			Make a game of reading food labels -
		</div>
		<div class="item item-text-wrap">
		<p>The whole family will learn what’s good for their health and be more conscious of what they eat. It’s a habit that helps change behaviour for a lifetime. Learn more about reading nutrition labels. </p>
		</div>
		<div class="item item-divider" >
			 Stay involved 
		</div>
		<div class="item item-text-wrap">
		<p> Be an advocate for healthier children. Insist on good food choices at school. Make sure your children’s healthcare providers are monitoring cardiovascular indicators like BMI, blood pressure and cholesterol. 
		Contact public officials on matters of the heart. Make your voice heard.</p>
		</div>
		</div>
		<br>
		<br>
      </ion-content>
    <div class="bar bar-footer bar-stable">
        <div class="title">© Clare Reville</div>
    </div>
    </ion-pane>
	
  </body>
</html>