
<html>
<body>
<div class="card">
  <div class="item item-text-wrap">
  
	Calculate your recommended daily calories.
	<button class="button button button-balanced" ui-sref="state3">
           Learn More
        </button>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
  
	Today Calorie Amount
    <button class="button button-balanced">
		Daily Counter
	</button>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
	Track the past 7 days 
    <button class="button button-balanced">
		7 Day Totals
	</button>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
	Check the calorie content on some of the most common foods
    <button class="button button-balanced">
		Calorie content
	</button>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
	For healthy eating tips
	<button class="button button-balanced">
	Health Tips
	</button>
    </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
	For Exercise Tips
	<button class="button button-balanced">
	Exercise Tips 
	</button>
    </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
	Advice on healthy choices for children
	<button class="button button-balanced">
	Kids Health
	</button>
    </div>
</div>
</body>
</html>
