<!DOCTYPE html>
<!-- this page is intended to enable the user to calculate the average daily calories they have consumed
	over the course of the previous week takes the user input and divides by 7 to get the average -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src = "js/tracker.js"></script>
	
  </head>
	<!-- angular-->
	<body ng-app="tracker" ng-controller="trackCrtl">
 

    <div class="bar bar-header bar-calm">
	<!--header contains title home button and back button -->
		<button class="button icon-left ion-home"ui-sref="state1">
			Home </button>
        <h1 class="title">Weekly Calories </h1>
		<!-- returns to state 2 ie:menu-->
		<a class="button icon-left ion-chevron-left button-clear button-light"ui-sref="state2">Back</a>
    </div>
	<ion-content>
	  <br>
	  <br>
	  <br>
	  
	<div class="list">
	<!--section for mondays calories -->
		<a class="item item-thumbnail-left" href="#">
			<!--thumbnail image -->
			<img src="images/monday.jpg">
				<p>Enter Mondays Calories</p>
			<!--input section for user -->
			<label class="item item-input">
				<input type="number" ng-model="countMon" />
			</label>
		</a>
		<br>
		<!--section for tuesdays calories -->
		<a class="item item-thumbnail-left" href="#">
			<!-- thumbnail image-->
			<img src="images/tuesday.jpg">
				<p>Enter Tuesdays Calories</p>
			<!--input section for user-->
			<label class="item item-input">
				<input type="number" ng-model="countTues" />
			</label>
		</a>
		<br>
		<!--section for wednesday calories -->
		<a class="item item-thumbnail-left" href="#">
			<!--thumbnail image -->
			<img src="images/wed.jpg">
				<p>Enter Wednesdays Calories</p>
			<!--input section for user -->
			<label class="item item-input">
				<input type="number" ng-model="countWed" />
			</label>
		</a>
		<br>
		<!--section for thurs cals -->
		<a class="item item-thumbnail-left" href="#">
			<!--thumbnail image -->
			<img src="images/thurs.jpg">
				<p>Enter Thursdays Calories</p>
			<!--input section for user -->
			<label class="item item-input">
				<input type="number" ng-model="countThurs" />
			</label>
		</a>
		<br>
		<!--section for friday calories -->
		<a class="item item-thumbnail-left" href="#">
			<!--thumbnail image -->
			<img src="images/fri.jpg">
				<p>Enter Fridays Calories</p>
			<!--input section for user -->
			<label class="item item-input">
				<input type="number" ng-model="countFri" />
			</label>
		</a>
		<br>
		<!--section for sat calories -->
		<a class="item item-thumbnail-left" href="#">
			<!--thumbnail image -->
			<img src="images/sat.jpg">
				<p>Enter Saturday Calories</p>
			<!-- input section for user -->
			<label class="item item-input">
				<input type="number" ng-model="countSat" />
			</label>
		</a>
		<br>
		<!-- section for sun calories-->
		<a class="item item-thumbnail-left" href="#">
			<!--thumbnail image -->
			<img src="images/sun.jpg">
				<p>Enter Sundays Calories</p>
			<!--input section for user -->
			<label class="item item-input">
				<input type="number" ng-model="countSun" />
			</label>
		</a>
		<br>
		<!-- button when clicked will compute average for week for user-->
		<button class="button button-block button-calm button-clear button-outline" ng-click= "track= (countMon+countFri+countSat+countSun+countThurs+
		 countTues +countWed)/7">
            Calculate
        </button> 
		<!-- section for output -->
		<a class="item item-thumbnail-left" href="#">
			<!--thumbnail image -->
			<img src="images/calculator.png">
				<p>Weekly Average Calorie Intake</p>
			<!--weekly calories will be displayed -->
			<label class="item item-input">
				<input type="number" ng-model="track" />
			</label>
		</a>
		<!--reset the weekly calculator -->
		<button class="button button-block button-calm butt0n-clear button-outline" ng-click="track = 0">
            Clear Calculator
        </button>
		</div>
		
		<br>
		<br>
		
	</ion-content>
     <!-- footer-->
		<div class="bar bar-footer bar-stable">
			<div class="title">© Dept of Health</div> 
		</div>
    </ion-pane>
	
  </body>
</html>